<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>16.2</string>
    <key>com.xamarin.ios</key>
    <dict>
      <key>Version</key>
      <string>16.1.1.27 (xcode14.1: 933c6c2c9)</string>
    </dict>
    <key>CFBundleName</key>
    <string>StardewValley</string>
    <key>DTSDKName</key>
    <string>iphoneos16.2</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcons20x20</string>
          <string>AppIcons29x29</string>
          <string>AppIcons40x40</string>
          <string>AppIcons60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcons</string>
      </dict>
    </dict>
    <key>CFBundleDisplayName</key>
    <string>Stardew Valley</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>LSHandlerRank</key>
        <string>Alternate</string>
        <key>CFBundleTypeName</key>
        <string>Document Type 1</string>
      </dict>
    </array>
    <key>DTSDKBuild</key>
    <string>20C52</string>
    <key>CFBundleShortVersionString</key>
    <string>15.6.39</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>21G115</string>
    <key>DTPlatformBuild</key>
    <string>20C52</string>
    <key>MinimumOSVersion</key>
    <string>10.0</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>en_US</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>0.1</string>
    <key>DTXcodeBuild</key>
    <string>14C18</string>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchStoryboard</string>
    <key>CFBundleLocalizations</key>
    <array>
      <string>de_DE</string>
      <string>en_US</string>
      <string>pt_BR</string>
      <string>es_ES</string>
      <string>ru_RU</string>
      <string>it-IT</string>
      <string>ko-KR</string>
      <string>fr-FR</string>
      <string>tr-TR</string>
      <string>hu-HU</string>
      <string>ja-JP</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.chucklefish.stardewvalley</string>
    <key>DTXcode</key>
    <string>1420</string>
    <key>CFBundleExecutable</key>
    <string>StardewValley</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcons20x20</string>
          <string>AppIcons29x29</string>
          <string>AppIcons40x40</string>
          <string>AppIcons60x60</string>
          <string>AppIcons76x76</string>
          <string>AppIcons83.5x83.5</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcons</string>
      </dict>
    </dict>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>DTAppStoreToolsBuild</key>
    <string>14C17</string>
  </dict>
</plist>
