<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacUIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>apple-id</key>
	<string>shah@priansh.com</string>
	<key>artistId</key>
	<integer>1620477446</integer>
	<key>artistName</key>
	<string>ConcernedApe</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>308833511</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>Stardew Valley</string>
	<key>bundleShortVersionString</key>
	<string>15.6.39</string>
	<key>bundleVersion</key>
	<string>0.1</string>
	<key>copyright</key>
	<string>Stardew Valley Copyright © 2016-2023 ConcernedApe LLC</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Games</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>hasOrEverHasHadIAP</key>
	<false/>
	<key>ipaInstallPath</key>
	<string>/var/folders/s8/thvxbz194jq882bhl8jvn4gh0000gn/T/com.apple.configurator.xpc.InternetService/TemporaryItems/MobileApps/1406710800/F9BD175A-93FD-44E8-B150-DB68826128B9</string>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1406710800</integer>
	<key>itemName</key>
	<string>Stardew Valley</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>ConcernedApe</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<string></string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.TRUE_GAMBLING , Infrequent/Mild Mature/Suggestive Themes , Advisory.NO.GAMBLING_CONTESTS , Infrequent/Mild Simulated Gambling , Infrequent/Mild Cartoon or Fantasy Violence , Advisory.NO.UNRESTRICTED_WEB_ACCESS , Infrequent/Mild Profanity or Crude Humor and Infrequent/Mild Alcohol, Tobacco, or Drug Use or References</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2018-10-24T07:00:00Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/3a/fb/18/3afb18ad-40bb-db23-8bca-044ed2145987/AppIcons-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.chucklefish.stardewvalley</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>855050772</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>827752665</integer>
		<integer>828843257</integer>
		<integer>828885540</integer>
		<integer>828983817</integer>
		<integer>828995101</integer>
		<integer>829066657</integer>
		<integer>829078090</integer>
		<integer>829106254</integer>
		<integer>829278847</integer>
		<integer>829284652</integer>
		<integer>829313643</integer>
		<integer>829327232</integer>
		<integer>829396813</integer>
		<integer>829412697</integer>
		<integer>829454428</integer>
		<integer>829538555</integer>
		<integer>829551459</integer>
		<integer>829567302</integer>
		<integer>829576078</integer>
		<integer>829588754</integer>
		<integer>829696802</integer>
		<integer>829733451</integer>
		<integer>830295566</integer>
		<integer>830610786</integer>
		<integer>830618550</integer>
		<integer>830627529</integer>
		<integer>830700155</integer>
		<integer>830716612</integer>
		<integer>830725100</integer>
		<integer>830766338</integer>
		<integer>830828123</integer>
		<integer>830841627</integer>
		<integer>830888362</integer>
		<integer>830893179</integer>
		<integer>830968376</integer>
		<integer>831125258</integer>
		<integer>831181277</integer>
		<integer>831191878</integer>
		<integer>831318836</integer>
		<integer>831695525</integer>
		<integer>831724842</integer>
		<integer>831735443</integer>
		<integer>831910251</integer>
		<integer>831982395</integer>
		<integer>832496641</integer>
		<integer>833753752</integer>
		<integer>834267256</integer>
		<integer>834692669</integer>
		<integer>834818135</integer>
		<integer>834824211</integer>
		<integer>834860994</integer>
		<integer>834910980</integer>
		<integer>834942829</integer>
		<integer>834993026</integer>
		<integer>835180582</integer>
		<integer>839907341</integer>
		<integer>840037843</integer>
		<integer>840087151</integer>
		<integer>840121086</integer>
		<integer>852231151</integer>
		<integer>854278038</integer>
		<integer>854287794</integer>
		<integer>854305996</integer>
		<integer>854340800</integer>
		<integer>854374587</integer>
		<integer>854457808</integer>
		<integer>855050772</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Role Playing</string>
			<key>genreId</key>
			<integer>7014</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Simulation</string>
			<key>genreId</key>
			<integer>7015</integer>
		</dict>
	</array>
	<key>userName</key>
	<string>shah@priansh.com</string>
	<key>vendorId</key>
	<integer>124381560</integer>
	<key>versionRestrictions</key>
	<integer>0</integer>
</dict>
</plist>
